
<nav class="navbar bg-dark">
    <div class="container-fluid m-auto px-5">
      <a class="navbar-brand text-white" href="#">Shopping Cart</a>
      <div>
        <a class="text-white text-decoration-none list-itm" (click)="addCart()"> 
            <span class="material-icons-outlined fs-4 text-white">
                shopping_cart
                </span>
            </a>
        <a class="text-white text-decoration-none list-itm ms-3" (click)="logout()"> 
            <span class="material-icons-outlined fs-4 text-white">
                logout
                </span>
            </a>
            
      </div>
    </div>
</nav>