/* You can add global styles to this file, and also import other style files */
@import 'material-icons/iconfont/material-icons.css';
.icons{
    font-size: 14px;
    color: #999999;
    vertical-align: middle;
}
.text-ash{
    color: #999999;
}
.tab-img{
    width: 100px;
    height: 70px;
    border-radius: 10px;
}
.bg-ash{
    background-color: #999999;
}
.btn-align{
    line-height: 3.2;
}